*{
	margin:0;
	padding:0;
}
body{
	background-image:url(images/background01.jpg);
	background-attachment:fixed;
    background-size:cover;
    /*背景平铺*/
    background-repeat:no-repeat;
    /* iOS Safari */
    -webkit-touch-callout: none;
     /* Chrome/Safari/Opera */  
    -webkit-user-select: none;  
    /* Konqueror */
    -khtml-user-select: none;  
    /* Firefox */
    -moz-user-select: none;  
    /* Internet Explorer/Edge */
    -ms-user-select: none;  
     /* Non-prefixed version, currently not supported by any browser */
    user-select: none;  
}
p{
	font-size:12px;
	text-align:center;
	color:rgba(255, 255, 255, 0.062);
}
img{
	width:18px;
}
.button{
	background-color: #4CAF50;
	border-radius:8px;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;/*即是行元素 又具有列属性*/
	font-size: 18px;
	cursor: pointer;	/*Allows control over cursor appearance in an element*/
	transition-duration: 0.4s;/*变换延续的时间*/
}
/*鼠标悬停在该button上时*/
.button:hover{
	padding: 20px 40px;
	font-size: 32px;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.281),0 17px 50px 0 rgba(0, 0, 0, 0.295);
}
#front{
	z-index:1;
	width:100%;
	top: 0;
	left: 0;
	padding-top:320px;
	padding-bottom:50px;
}
#front div{	
	text-align:center;
	font-size:40px;
	color:white;	
	background-color:rgba(136, 128, 255, 0.5);
	height:180px;
	padding-top:50px;
}
.xuahua{
    background:transparent;
    text-align: center;
    color:rgba(255, 255, 255, 0.178);

    background-color:rgba(28,49,78,0.35);
}
